@charset "utf-8";
/* CSS Document */
body {
	margin: 0;
	padding: 0;
	background-image:url(../images/menu3_background.jpg);
	background-repeat: no-repeat;
	background-position: top center;
  background-attachment: fixed;
	font-family: 'Roboto Condensed', sans-serif;
}
#background {
	height: 300px;
}
#menu {
	background: #fff;
	padding-top: 75px;
	padding-bottom: 75px;
}
h1{
	font-size: 2rem;
	color: #303030;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 4px;
}
.menu_intro {
	width: 95%;
	margin: 0 auto;
	text-align: center;
	font-size: 1.1rem;
	line-height: 1.5rem;
}
#pdf {
	display: block;
	color: green;
	font-weight: bold;
	width: 90%;
	margin: 15px auto;
	text-align: center;
	font-size: 1.2rem;
}

.menu_heading {
	width: 200px;
	margin: 50px auto;
	text-align: center;
	font-size: 1.5rem;
	border: 1px solid #000;
	padding: 10px;
	color: #DAA520;
}
.menu_item {
	width: 90%;
	margin: 50px auto 15px auto;
	text-align: center;
	font-size: 1.3rem;
	font-weight: bold;
}
@media(min-width: 1024px){
	.menu_intro {
		width: 66.666%;
	}
}
@media(min-width: 1360px){
	.menu_intro {
		width: 50%;
	}
}
