/*
* PidieCSS 0.0.8
* 2018
* Tedir Ghazali
* Apache License 2.0
*/



.pd-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .pd-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .pd-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .pd-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .pd-container {
    max-width: 1140px;
  }
}

/*
* Quote
*/
.pd-quotes-slideshow {
  position: relative;
  line-height: 2rem;
  font-size: 1.3rem;
  color: #fff;
}
.pd-quotes-slide {
  display: none;
  padding: 40px;
  text-align: center;
}
.pd-quotes-prev, .pd-quotes-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.pd-quotes-next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}
.pd-quotes-prev:hover, .pd-quotes-next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
  text-decoration: none;
}
.pd-quotes-dots {
    text-align: center;
    padding: 20px;

}
.pd-quotes-dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.pd-quotes-active, .pd-quotes-dot:hover {
  background-color: #a0a0a0;
}
.pd-quotes-slide img {
  width: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.pd-quotes-slide q {font-style: italic;}
.pd-quotes-author {padding-top: 10px; color: #daa158;}
